.BadgeDetails__hero {
  width: 100%;
  padding: 2rem 0;
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
}

.content {
  display: flex;
  justify-content: center;
}

.BadgeDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BadgeDetails__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.BadgesDetails_conf-logo {
  width: 100px;
}

.group-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .group-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
}
