.Home {
  width: 100%;
  min-height: calc(100vh - 55.99px);
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;

  color: #ffffff;

  display: flex;
  align-items: center;
}

.container {
  margin: auto !important;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.w-60 {
  width: 60%;
}

.Home__img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home__img img {
  width: 90%;
  height: 100%;
}
